*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* Define a cor da fonte */
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
/*Header */
header{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap;

}

.logo{
  height:100px;
}


ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
li{
  list-style: none;
  align-self: center;
  margin-right: 100px;
  
  color:black ;
}


li a{
 text-decoration: none;
}

/*Section Cursos*/



.b-laranja{
  color: orange;
}



.c-card {
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 400px;
  background-color: rgb(241, 239, 237);
  margin-top: 20px;
  margin-left: 20px;
}


.responsive{
  width: 75%;
  margin: 0 auto;
  
}

/*Seção Professores*/
.c2-card {
  border-radius: 2px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 300px;
  background-color: rgba(245, 243, 241, 0.486);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.professores{
  height: 150px;
  border-radius: 50%;
  width: 130px;
  margin-top: 50px;
  margin-left: 10px;
}


.professores-paulo{
  height: 150px;
  border-radius: 50%;
  width: 130px;
  margin-top: 130px;
  margin-left: 10px;
}

.professores-carla{
  height: 150px;
  border-radius: 50%;
  width: 130px;
  margin-top: 50px;
  margin-left: 10px;
}

.professores-carlos{
  height: 150px;
  border-radius: 50%;
  width: 100px;
  margin-top:90px;
  margin-left: 10px;
}
.professores-sergio{
  height: 150px;
  border-radius: 50%;
  width: 130px;
  margin-top: 80px;
}
.nome-dos-professores{
  margin-top: 100px;
  margin-left: 20px;
}

.nome-dos-professores-paulo{
  margin-top: 180px;
  margin-left: 20px;
}

.nome-dos-professores-carla{
  margin-top: 100px;
  margin-left: 20px;
}

.nome-dos-professores-carlos{
  margin-top: 150px;
  margin-left: 50px;
}

.nome-dos-professores-sergio{
  margin-top: 150px;
  margin-left: 30px;
}

/*Seção Depoimentos*/
.d2-card{
  border-radius:3px;
  height: 400px;
  width: 450px;
  background-color: rgba(245, 243, 241, 0.486);
}

.foto-aluno{
  height: 80px;
  border-radius: 50%;
  width: 50px;
  
}
/*Seção Trabalhe conosco*/
.certificado{
  height: 150px;
}

.sede{
  
  width: 400px;
}

/*Seção Formulário*/
form{
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 45%; 
}

.select-s{
  margin-top: 0;
}



.submit-group{
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%; 
}
label {
  margin-bottom: 5px;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  
}


/*Seção Trabalhe Conosco*/


.Trabalhe-Conosco{
  width:100%;
}

footer{
  width: 100%;
}

.swiper{
  display: flex;
  margin-left: 30px;
}

@media only screen and (min-width:390px) and  (max-width: 768px) {
  
  /*header*/
  ul{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
  /*inscrição*/
  .form-group {
    display: flex;
    margin: 10px;
    width: 45%; 
  }
  
  .submit-group{
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%; 
  }
  label {
    margin-bottom: 5px;
  }
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    
  }
  /* Seção Professores*/
  .professores{
    height: 80px;
    width: 100px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .professores-paulo{
    height: 80px;
    width: 100px;
    margin-top:120px;
    margin-left: 10px;
  }

  .professores-carla{
    height: 80px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .professores-carlos{
    height: 80px;
    width: 100px;
    margin-top:90px;
    margin-left: 10px;
  }

  .professores-sergio{
    height: 80px;
    width: 100px;
    margin-top: 120px;
    margin-left: 10px;
  }
  
  .nome-dos-professores{
    margin-top: 0px;
    margin-left: 20px;
  }

  .nome-dos-professores-paulo{
    margin-top: 0px;
    margin-left: 20px;
  }
  
  .nome-dos-professores-sergio{
    margin-top: 0px;
    margin-left: 20px;
  }

  .nome-dos-professores-carla{
    margin-left: 5px;
    margin-top: 0;
  }

  .nome-dos-professores-carlos{
    margin-top: 0px;
    margin-left: 20px;
  }

  
}