*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #83AD28;
}

html{
  /* Define a cor da fonte */
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
/*Header */
header{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap;

}

.logo{
  height:100px;
}


ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
li{
  list-style: none;
  align-self: center;
  margin-right: 100px;
  
  color:black ;
}


li a{
 text-decoration: none;
}

/*Section Cursos*/


.cursos h2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container{
  display: flex;
}

.carousel {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.carousel-item {
  display: flex;
  justify-content: space-around; /* Isso espaçará os itens de forma uniforme */
  align-items: center; /* Isso centralizará verticalmente os itens */
}
.c-card {
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 400px;
  background-color: rgb(175, 103, 8);
  margin-top: 20px;
  margin-left: 300px;
}

.carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-inner{
  display: flex;
}

/*Seção Professores*/
.c2-card {
  border-radius: 2px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 300px;
  background-color: rgba(245, 243, 241, 0.486);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.professores{
  height: 150px;
  border-radius: 50%;
  width: 130px;
  
}

/*Seção Depoimentos*/
.d2-card{
  border-radius:3px;
  height: 400px;
  width: 450px;
  background-color: rgba(245, 243, 241, 0.486);
}

.foto-aluno{
  height: 80px;
  border-radius: 50%;
  width: 50px;
  
}
/*Seção Trabalhe conosco*/
.certificado{
  height: 150px;
}

/*Seção Formulário*/

form{
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 45%; 
}

.submit-group{
  display: flex;
  flex-direction: column;
  margin-left: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%; 
}
label {
  margin-bottom: 5px;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  
}

.Trabalhe-Conosco{
  width:100%;
}

footer{
  width: 100%;
}

.swiper{
  display: flex;
  margin-left: 30px;
}

@media only screen and (min-width:390px) and  (max-width: 768px) {
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
  }

  .professores{
    height: 100px;
    width: 100px;
  }

  .sede{
    width: 350px;
  }

  
}